{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Статья {{ object.title }}</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <img class="col-9" src="{{ object.preview | media_filter }}">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Заголовок</td>
                            <td>{{ object.title }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Slug</td>
                            <td>{{ object.slug }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Содержание</td>
                            <td>{{ object.content }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата создания</td>
                            <td>{{ object.created_at }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Является публикацией</td>
                            <td>{{ object.is_publication }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    Просмотры: {{ object.views_count }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}