{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailing</h1>
    <p class="lead">Настройка рассылок. Для нас нет невыполнимых задач!</p>
</div>

<div class="container">
    <div class="row text-center">

        <div class="col-12">
        количество рассылок всего: {{mailing_total}}<br>
        количество активных рассылок: {{mailing_active}}<br>
        количество уникальных клиентов для рассылок: {{clients_total}}<br>
        три случайные статьи из блога:<br>
            {% for blog in blog_list %}
            <a href="blog_list/blog/{{ blog.pk }}">{{ blog.title }}</a><br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
