{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Результаты рассылок</h1>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {{ object.mailing.mailing_message.topic }}
                    <br>
                    {{ object.last_try_sent_datetime }}
                    <br>
                    {{ object.status }}
                    <br>
                    server_reply: {{ object.server_reply }}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
