{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Настройки рассылок</h1>
    <a class="p-2 btn btn-outline-primary" href="create">Настроить рассылку</a>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a href="{{ object.pk }}">{{ object.mailing_message }}</a>
                </div>
                <div class="card-body">
                    <a class="p-2 btn btn-outline-primary" href="update/{{ object.pk }}">Обновить</a>
                    <a class="p-2 btn btn-outline-primary" href="delete/{{ object.pk }}">Удалить</a>
                    <a class="p-2 btn btn-outline-primary" href="change_status/{{ object.pk }}">
                        {% if object.status != object.COMPLETED %}
                            Завершить
                        {% else %}
                            Начать
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
